body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
    width: 600px;
}

form {
    border-radius: 20px;
    border: 1px solid #ccc; 
    padding: 20px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

fieldset {
    border: none;
    margin-bottom: 50px;
}

legend {
    font-weight: bold;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    flex: 1;
    margin-right: 10px;
}

textarea, select, input {
    flex: 2;
    margin-top: 3px;
    border-radius: 5px;
    display: block;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: black;
    color: white;
}
